<div class="side-nav-content">

    <ul class="nav-list">

        <li class="nav-list-item">
            <a href="/home">
                Dashboard
            </a>
        </li>
        <li class="nav-list-item">
            <a href="/add">
                Add expense/income
            </a>
        </li>
        <li class="nav-list-item">
            <a href="/reports">
                Reports and analysis
            </a>
        </li>
        <li class="nav-list-item">
            <a href="/advice">
                Financial Advice
            </a>
        </li>
        <div class="userinfo">
            <h5 *ngIf="auth.isLoggedIn" class="nav-list-item">
                <br>{{ userEmail }}
            </h5>
            <li class="nav-list-item">
                <a href="/" (click)="logout()">
                    LogOut
                </a>
            </li>
        </div>

    </ul>

</div>