.report {
    margin: 50px auto;
    width: 90%;
    padding: 3rem;
}

.pie {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    max-height: 30rem;
    margin: auto;
}